In [1]:
type('7')

str

In [2]:
inum = int('7')
print(type(inum))

<class 'int'>

In [3]:
fnum = float('7')
print(type(fnum))

<class 'float'>

In [4]:
inum

7

In [5]:
fnum

7.0

In [6]:
snum = str(inum)
type(snum)

str

* int()
* float()
* bool()
* str()
* list()
* tuple()
* set()

In [7]:
stseq = 'python programming'
lseq = [1,2,2,4,5]
tseq = (6,7,7,7,10)
sseq = {11,12,13,13,13}

In [8]:
print(type(stseq))
print(type(lseq))
print(type(tseq))
print(type(sseq))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [9]:
print(list(stseq))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [10]:
print(list(tseq))

[6, 7, 7, 7, 10]

In [11]:
print(list(sseq))

[11, 12, 13]

In [12]:
print(tuple(stseq))

('p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')

In [13]:
print(tuple(lseq))

(1, 2, 2, 4, 5)

In [14]:
print(tuple(sseq))

(11, 12, 13)

In [15]:
print(set(stseq))

{'m', 't', 'h', 'a', 'o', 'n', 'y', 'p', 'r', 'g', ' ', 'i'}

In [16]:
print(set(lseq))

{1, 2, 4, 5}

In [17]:
print(set(tseq))

{10, 6, 7}

* range()

In [18]:
range(0)

range(0, 0)

In [19]:
list(range(5))

[0, 1, 2, 3, 4]

In [20]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [21]:
list(range(2,9))

[2, 3, 4, 5, 6, 7, 8]

In [22]:
list(range(2,9,2))

[2, 4, 6, 8]

In [23]:
list(range(10,2,-2))

[10, 8, 6, 4]

* map()

In [24]:
list(map(abs, [-2, -5, -8]))

[2, 5, 8]

In [25]:
list(map(int, [2.5, 3.7, '9']))

[2, 3, 9]

In [26]:
def myfunc(a):
    return a**2
list(map(myfunc, [1,2,3,4,5]))

[1, 4, 9, 16, 25]