In [1]:
print('hello world')

hello world

In [2]:
number = 20162345
score = 90
python_score = 95
math1 = 80
student = 50
 
print(number)
print(score)
print(python_score)
print(math1)
print(student)

20162345
90
95
80
50

In [3]:
a = 10; b = 20; c= 30
print(a, b, c)

10 20 30

In [4]:
e = 'sogang'
type(e)

str

In [5]:
f = [1,2,4,5,6]
type(f)

list

In [6]:
g = (2,3,5)
type(g)

tuple

In [7]:
i = 24
type(i)

int

In [8]:
a = 2.15
type(a)

float

In [9]:
h = {1,3,5,6}
type(h)

set

In [10]:
d = {3:90, 5:87, 3:34}
type(d)

dict

In [11]:
a = 23
type(a)

int

In [12]:
isinstance(a, int)

True

In [13]:
a = int(3.5)
b = int(3.3)
c = int('34')

print(a, b, c)

3 3 34

In [14]:
a = 124
x = float(a)
y = str(a)

print(a, x, y)

124 124.0 124

In [15]:
type(y)

str

In [16]:
multiple = 9*9
divide = 30/5
power = 2**4
remainder = 15%4

print(multiple, divide, power, remainder)

81 6.0 16 3

In [17]:
text = '2015' + '1991'
number = 2015 + 1991

print(text)
print(number)

20151991
4006

In [18]:
five4 = 5*1
five5 = 5*1.0

print(five4)
print(five5)

5
5.0

In [19]:
div1 = 6/5
div2 = 6//5

print(div1)
print(div2)

1.2
1

In [20]:
a = 6
b = 5

print(a == b*(a//b) + (a%b))

True

In [21]:
print(int(5.0))
print(float(5))
print(5*1.0)

5
5.0
5.0

In [22]:
sum = 21 + 5
multiply = 21* 5
divide = 21/5
remainder = 21%5
power = 21**3

print(sum, multiply, divide, remainder, power)

26 105 4.2 1 9261

In [23]:
round(1.3)

1

In [24]:
round(2.5)

2

In [25]:
round(2.6)

3

In [26]:
import math
type(math)

module

In [27]:
math.ceil(2.9)

3

In [28]:
math.floor(5.7)

5

In [29]:
a = 1
a < 0

False

In [30]:
a > 0

True

In [31]:
b = True
c = False
print(b, c)

True False

In [32]:
x = input('enter x: ')
print(x)

enter x: 456
456

In [33]:
type(x)

str

In [34]:
x = int(x)

In [35]:
type(x)

int

In [36]:
x = int(input('enter one integer :'))

enter one integer :44455

In [37]:
type(100)

int

In [38]:
y = float(input('enter one float number :'))

enter one float number :32.54

In [39]:
type(y)

float

In [40]:
print('hello world ', end='')
print('hello world ', end='')
print('hello world')

hello world hello world hello world

In [41]:
10+5
20-13
3*10
100/8
2**5
30//7
30%7

2

In [42]:
2**3**2

512

In [43]:
(2**3)**2

64

In [44]:
abs(-3)

3

In [45]:
divmod(17, 4)

(4, 1)

In [46]:
pow(2,5)

32

In [47]:
import math
math.fabs(-3)

3.0

In [48]:
math.factorial(5)

120

In [49]:
math.pow(3,5)

243.0

In [50]:
math.sqrt(9)

3.0

In [51]:
math.trunc(10.8)

10

In [52]:
a = 1.5
type(a)

float

In [53]:
isinstance(a, float)

True

In [54]:
b = 2e3
a = 2e-03
c = 2E2
d = 2E-2
e = 2e10
f = 2e-10
print(b)
print(a)
print(c)
print(d)
print(e)
print(f)

2000.0
0.002
200.0
0.02
20000000000.0
2e-10

In [55]:
x = 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x == y)  # False가 출력됨
print(x != y)   # True가 출력됨
print(str1 == str2)   # False가 출력됨
print(str2 == 'python')   # True가 출력됨
print(str1 < str2)        # True가 출력됨

False
True
False
True
True

In [56]:
bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)    # False가 출력됨
print(bool1 and bool3)    # True가 출력됨
print(bool2 or bool3)     # True가 출력됨
print(bool2 or bool4)     # False가 출력됨
print(not bool1)          # False가 출력됨
print(not bool2)          # True가 출력됨

False
True
True
False
False
True